body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e8991c;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: bold;
    color: #333;
    margin-top: 30px;
}

.table {
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #be860f;
    color: white;
    text-align: center;
}
